* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: serif;
}

main,
.site-name {
    background-image: linear-gradient(to top, #4fb576 0%, #44c489 30%, #28a9ae 46%, #28a2b7 59%, #4c7788 71%, #6c4f63 86%, #432c39 100%);
    background-attachment: fixed;
}

a,
.btn-no-style,
#comment-subtitle {
    color: #000000;
}

a:hover,
.btn-no-style:hover {
    color: #e2edd5;
}

a {
    text-decoration: none;
    font-weight: bold;
    transition: color .1s;
}

button {
    background-image: linear-gradient(to top, #4fb576 0%, #44c489 30%, #28a9ae 46%, #28a2b7 59%, #4c7788 71%, #6c4f63 86%, #432c39 100%);
    background-attachment: fixed;
    border: 0;
    padding: 1%;
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%)
}

.post-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.go-back {
    color: #000000;
}

textarea,
input {
    padding: .5%;
    border-radius: 5px;
    border: 2px solid #06908a;
}

textarea:focus,
input:focus {
    outline: none;
    border: 1px solid #3486eb;
}

textarea {
    min-width: 40%;
    min-height: 100px;
}

form>div {
    margin-bottom: 2%;
}

form label {
    display: block;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.info-section {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}

header,
.site-row,
.info-section,
.form-heading {
    background-image: linear-gradient(to top, #4fb576 0%, #44c489 30%, #28a9ae 46%, #28a2b7 59%, #4c7788 71%, #6c4f63 86%, #432c39 100%);
    background-attachment: fixed;
}

.login-page,
.sign-in-page,
.new-form-page,
.edit-form-page {
    border: 3px solid black;
    padding-bottom: 10px;
}

.form-heading {
    padding: 10px;
}

.info-section,
.content-section,
.form-section,
.sign-in-link,
.login-link {
    padding-left: 10px;
}

.post-name,
.post-title-section, .new-page {
    padding-top: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
}

header h1 {
    font-size: 1em;
}

.site-row {
    display: flex;
    justify-content: center;
}

.site-name {
    margin-bottom: 10px;
    padding: 0px 10px;
}

main {
    flex: 1;
    padding: 2% 4%;
}

.btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
}

.btn-no-style:hover {
    background: none;
}

.delete-post-btn {
    background-color: #d41414;
}

.delete-post-btn:hover {
    background-color: #ff643d;
}

.post {
    margin-bottom: 2%;
    line-height: 150%;
    border: 3px solid black;
}

.post .title span {
    font-style: italic;
    font-size: 90%;
    color: #7d7d7d;
}

.edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
    color: #000000;
}

.comment-form {
    margin-bottom: 5%;
}

.comment {
    padding: 1%;
    margin-bottom: 1%;
}

.comment:nth-child(odd) {
    background-color: #fff5eb;
}

.comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
}

.new-post-form input {
    width: 300px;
}

.edit-post-form {
    margin-bottom: 5%;
}

#comment-subtitle {
    font-size: 12px;
    font-style: italic;
}

.new-post-section {
    display: flex;
    justify-content: center;
}

#create-new-post {
    width: 15%;
}

.sign-in-link,
.login-link {
    color: #000000;
}

.form-heading h1,
.form-heading h2 {
    color: #000000;
}

.login-form,
.signup-form,
.post-content,
.post-title-section {
    padding: 10px 10px 0px 0px;
}

.entry-field,
.login-signup-btn,
.btn,
#post-title {
    width: 100%;
}